<div id = "footer">
	<footer class="bg-dark text-light" style="z-index: 4;">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					About Us
                    <p>
                        Project-Cabs was started in the year 2010 in the city of Cochin to provide quality vehicle rental service and has been since catering to thousands of tourist, businessmen, corporates, instutions etc.</p>

                    </p>
                </div>
				<div class="col-sm-2 row">Pages
					<ul>
						<li class="link-li mb-2"><a href="">Home</a></li>
						<li class="link-li mb-2"><a href="">About Us</a></li>
						<li class="link-li mb-2"><a href="">Register</a></li>
					</ul>
				</div>
				<div class="col-sm-3">Contact Us
					<p> Pho No. +91877867656</p>
                    <p> Email : PCabs@email.com</p>
					<p> Addr. CabLands, Kochi</p>
				</div>
                <div class="col-sm mt-3 ms-5 display-5">
                    Project Cabs <img src="/static/css/logo.png" alt="" height="40px">
                </div>
			</div>
		</div>
	</footer>
</div >