<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Arju Cabs <img src="/static/css/logo.png" alt="" height="30px"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/searchCabs?page=1">Search Cabs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutus">About Us</a>
                </li>
            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img id="pimg" class="rounded-5" src="/static/css/person.png" alt="" height="30px"></a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    {{#if isAuthenticated}}
                    <a class="dropdown-item" href="/profile" >Profile</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    {{else}}
                    <a class="dropdown-item" href="/login">Log In</a>
                    <a class="dropdown-item" href="/signup">Sign Up</a>
                    {{/if}}
                </div>
            </div>
        </div>
  </div>
</nav>
