<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../static/css/bookcab.css">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
{{>navbar}}
<img src="/static/css/yellow-cars-city-taxi_566596-23 (1).jpeg" alt="" class="cabimg">
<div class="container row mx-5 mb-5 cabbody" style="margin-top: 100px;">
  <div class="p-3 rounded-5 col-6 cabform">
    <p class="display-5">BOOK CAB</p>
    <form action="/profile/bookCab?cab_no={{cab_no}}" method="post">
        <div class="form-control formdata" style="background-color: rgb(143, 143, 143,0); border : 0px">
            <label for="">Pick-Up</label>
            <select name="pickup" id="pickup">
              <option value="Alpy">Alappuzha</option>
              <option value="Kochi">Kochi</option>
              <option value="Bnglr">Banglore</option>
            </select>
        </div>
        <div class="form-control formdata" style="background-color: rgb(143, 143, 143,0);border : 0px">
            <label for="">Drop-Off</label>
            <select name="dropoff" id="dropoff">
              <option value="Alpy">Alappuzha</option>
              <option value="Kochi">Kochi</option>
              <option value="Bnglr">Banglore</option>
            </select>
        </div>
        <div class="form-control formdata" style="background-color: rgb(143, 143, 143,0);border : 0px">
            <label for="">Date of Ride</label>
            <input type="date" name="date_of_ride" id="">
        </div>
        <div class="form-control formdata" style="background-color: rgb(143, 143, 143,0);border : 0px">
            <label for="">Time of Ride</label>
            <input type="time" name="ride_time" id="">
        </div>
        <div >
            <input type="submit" value="Book" class="btn btn-primary col-3 offset-4 mt-3">
        </div>
    </form>
  </div>
</div>
{{>footer}}
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>